.plans{
    padding: 5.6vw;

    .button{
        margin-top: 16px;
    }

    h2{
        text-align: center;
    }

    &__list{
        margin-top: 50px;
        display: flex;
        justify-content: space-around;

        @media (max-width:768px){
            display: block;
        }

        &__item{
            max-width: 380px;
            width: 100%;
            text-align: center;
            padding: 60px 44px 44px;

            &:nth-child(2){
                background-image: url(../../dist/images/fundo_combo_plus.png) ;
                background-repeat: no-repeat;
                background-size: contain;
            }

            img{
                height: 83px;
                @media (max-width:768px) {
                    max-width: 245px;
                    height: 70px;
                }
            }

            strong{
                margin-top: 24px;
                display: block;
            }
        }
    }
    p{
        text-align: center;
    }
}